@use "../../partials/variables" as vars;
@use "../../partials/mixins" as mixins;
@import "../../partials/responsives";

.ui.fluid.container {
  min-height: calc(100vh - vars.$navbarh);
  @include mixins.relaxed {
    padding-left: 2px;
    padding-right: 2px;
  }
  .content {
    padding-top: 30px;
    .head {
      h1 {
        width: min-content;
        margin: auto;
        margin-bottom: 5px;
        background: linear-gradient(to right, #f2c593, #8a3282);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      p {
        width: 30%;
        @media (width <= 1024px) or (height <= 500px) {
          width: 95%;
          font-size: x-small;
        }
        margin: auto;
        margin-bottom: 30px;
        font-size: small;
        text-align: center;
        strong {
          text-decoration: underline;
        }
      }
    }
    .grid.container {
      @include mixins.relaxed;
      > * {
        padding: 5px;
      }
      .column {
        .info {
          margin-top: 10px;
          .name {
            font-weight: bold;
            font-size: small;
          }
          .photo-count {
            font-size: xx-small;
            color: #6c727f;
          }
        }
      }
      .empty {
        @include mixins.empty {
        }
      }
    }
  }
}
