@use "../../partials/variables" as vars;
@use "../../partials/mixins" as mixins;
@import "../../partials/responsives";

.ui.fluid.container {
  // border: 1px solid black;
  @include mixins.relaxed;
  height: calc(100vh - vars.$navbarh);
  background: no-repeat center/100% 80% url("../../../public/hero-image.png");
  @include mobile {
    background: linear-gradient(#f2c593, #8a3282);
  }
  .content {
    height: 90%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: #121826;
    p {
      font-size: small;
      margin-bottom: 10px;
    }
    .search-input {
      width: 40%;
      @include mobile {
        width: 90%;
      }
    }
  }
}
