<div class="content">
  <div class="form">
    <div class="spinner-container" *ngIf="!loaderService.loaded()">
      <app-loader type="spin"></app-loader>
    </div>
    @let mode = loginMode ? "Login" : "Register";
    <h2>{{ mode }} Here</h2>
    <form (ngSubmit)="onFormSubmitted()" #form="ngForm">
      <div class="input" *ngIf="!loginMode">
        <label for="name">Name</label>
        <input
          name="name"
          type="text"
          id="name"
          placeholder="Enter your name"
          required
          ngModel
          #name="ngModel"
        />
        <ng-container *ngIf="name.invalid && name.touched">
          <span>You must enter a value !</span>
        </ng-container>
      </div>
      <div class="input">
        <label for="email">Email Address</label>
        <input
          name="email"
          type="email"
          id="email"
          placeholder="Email address"
          required
          email
          ngModel
          #email="ngModel"
        />
        <ng-container *ngIf="email.invalid && email.touched">
          @if (email.errors?.['required']) {
          <span>You must enter a value !</span>
          } @else {
          <span>Enter a valid email !</span>
          }
        </ng-container>
      </div>
      <div class="input">
        <label for="password">Password</label>
        <input
          name="password"
          type="password"
          id="password"
          placeholder="Password"
          required
          minlength="8"
          ngModel
          #pass="ngModel"
        />
        <ng-container *ngIf="pass.invalid && pass.touched">
          @if (pass.errors?.['required']) {
          <span>You must enter a value !</span>
          } @else {
          <span> At least 8 characters !</span>
          }
        </ng-container>
      </div>
      <div class="input" *ngIf="!loginMode">
        <label for="confpassword">Confirm Password</label>
        <input
          name="confirmPassword"
          type="password"
          id="confpassword"
          placeholder="Confirm your Password"
          required
          minlength="8"
          ngModel
          #conf="ngModel"
        />
        <ng-container *ngIf="conf.invalid && conf.touched">
          @if (conf.errors?.['required']) {
          <span>You must enter a value !</span>
          } @else {
          <span> At least 8 characters !</span>
          }
        </ng-container>
      </div>
      <button type="submit" [disabled]="form.invalid" class="button">
        {{ mode }}
      </button>
      <p>
        {{
          loginMode ? "Do not have an accout yet?" : "Already have an account ?"
        }}
        <button type="button" class="button" (click)="switchMode()">
          {{ loginMode ? "Register" : "Login" }} Here.
        </button>
      </p>
    </form>
  </div>
</div>
