@use "../../partials/variables" as vars;
@use "../../partials/mixins" as mixins;
@import "../../partials/responsives";

.content {
  // border: 1px solid black;
  height: calc(100vh - vars.$navbarh);
  display: flex;
  justify-content: center;
  align-items: center;
  .form {
    position: relative;
    .spinner-container {
      @include mixins.dimmer {
        background-color: rgba(255, 255, 255, 0.7);
      }
    }
    width: 500px;
    @include mobile {
      width: 90vw !important;
    }
    padding: 30px 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    form {
      .input {
        margin-top: 10px;
        input {
          width: 100%;
          border: 2px solid #eee;
          padding: 10px 5px;
          &.ng-touched.ng-invalid {
            border: 2px solid #b12a2a;
          }
          &.ng-touched.ng-valid {
            border: 2px solid #3bb66a;
          }
          & + span {
            color: #b12a2a;
            font-weight: bold;
            font-size: x-small;
          }
        }
      }
      > .button {
        width: 100%;
        padding: 10px;
        margin: 15px 0px;
        border: none;
        background-color: #28282b;
        font-size: large;
        font-weight: bold;
        color: white;
        cursor: pointer;
        &:disabled {
          cursor: not-allowed;
        }
      }
      p {
        @include mobile {
          font-size: small;
        }
        .button {
          border: none;
          font-size: 16px;
          background-color: transparent;
          color: #0e0ede;
          cursor: pointer;
        }
      }
    }
  }
}
