<header class="header">
  <div class="left">
    <div class="logo item">
      <img src="Logo.svg" alt="logo" />
    </div>
  </div>
  <div class="right">
    <div class="link item" routerLink="/home" routerLinkActive="active">
      Home
    </div>
    <div class="link item" routerLink="/collections" routerLinkActive="active">
      Collections
    </div>
    <div class="connectivity">
      @if (authService.userData) {
      <img
        class="log item"
        src="logout.svg"
        alt="logout"
        routerLink="/authen"
        (click)="logout()"
      />
      } @else {
      <img
        class="log item"
        src="login.svg"
        alt="login"
        routerLink="/authen"
        routerLinkActive="hide"
      />
      }
    </div>
  </div>
</header>
